<!-- INCLUDE HEADER-->
<%- include("./partials/header.ejs")  %>
<body><!-- MAIN HOME -->
<div class = "main_container container-fluid">
    <% if (locals.homePara) { %>
        <h1 class = "mb-3">Hello</h1>
        <p  class = "mt-2"> <%= homePara %>
    <% } %>

<!-- POSTS -->
    <% if (locals.postTitleBody) { %>
        <% postTitleBody = JSON.parse(postTitleBody); %>
        <% postTitleBody.forEach(post => { %>
            <h1 class = "mb-1"> <%= post.title %> </h2>
        <div class = "d-flex flex-row">
            <p  class = "truncate mt-0"> <%= post.body  %> </p>
            <p> 
                <a href= "<%= urlBase %>/posts/<%= post.title %>" class = "readMoreLink no-underline"> Read More </a>
            </p>
        </div>
        <% }); %>
    <% } %>
</div>

<!-- INCLUDE SCRIPTS-->
<%- include("./partials/script.ejs")  %>
<!-- INCLUDE FOOTER-->
<%- include("./partials/footer.ejs")  %>
</body>
